.about-section{
  padding-bottom: 70px;
  padding-top: 100px;
}

.about-conatainer{
  position: relative;
  padding-bottom: 150px;
  display: flex;
  width: 1150px;
  justify-content: start;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

.about-text-container{
  height: 631px;
}

.about-img-container{
  position: relative;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.about-image{
  position: absolute;
  top: -350px;
  left: -220px;
}

.about-text-container{
  margin-top: 100px;
  margin-left: 8.333333%;
}

.about-tilte{
  width: 300px;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom:15px ;
  text-transform: uppercase;
}

.about-text{
  color: #777777;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.about-btn{
  margin-top: 20px;
  padding: 0 42px;
}

.experience-conatainer{
  padding: 25px 30px;
  background: #faf8ff;
  text-align: center;
  position: relative;
  margin-top: 25px;
  width: 350px;
  margin: auto;
}

.experience-conatainer::before{
  content: '';
  position: absolute;
  top: -25px;
  left: -50px;
  background: url(https://preview.colorlib.com/theme/satner/img/client-info-bg.png) no-repeat;
  height: 175px;
  width: 175px;
}

.years-experience-conatainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.year-experience{
  color: #854fee;
  font-family: "Rubik", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 85px;
  position: relative;
  z-index: 9;
}

.experience-text{
  text-align: left;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 500;
}

.call-conatainer{
  padding-top: 50px;
  text-align: left;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-icon{
  height: 60px;
}

.phone-number-container{
  margin-left: 15px;
}

.phone-number-container p{
  margin:0px ;
  text-align: start;
  color: #854fee;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.phone-number-container h3{
  margin:0px ;
  margin-bottom:8px ;
}

@media(max-width: 1670px){
  section{
    padding: 0 10px;
  }
  
  .about-img-container{
    width: 450px;
  }

  .about-image{
    width: 100%;
    top: -250px;
    left: 0px;
  }
}

@media(max-width: 1230px){
  .about-img-container{
    width: 400px;
  }

  .about-image{
    width: 100%;
    top: -250px;
    left: 0px;
  }

  .about-text-container{
    height: 631px;
    width: 450px;
    margin-left: 30px;
  }
  
}

@media(max-width: 1000px){
  section{
    padding: 0 50px;
  }

  .about-text-container ,.about-tilte{
    max-height: 300px;
    width: 100%;
  }

  .about-image {
    display: none;
  }

  .about-conatainer{
    display: block;
  }

  .about-text{
    max-width: 700px;
  }
}

@media (max-width:760px){
  section{
    padding: 0 10px;
    margin: auto;
    max-width: 400px;
  }

  .about-tilte{
    font-size: 28px;
    max-width: 400px;
  }

  .about-text-container{
    margin-left: 0px;
  }

  .about-text{
    max-width: 400px;
  }
}

