.contact-section{
    width: 100%;
    padding-top: 100px;
}

.contact-title{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
}

.contact-title-text{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 100px;
}

.contact-body-wrpper{
    margin: auto;
    max-width: 1140px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-email-tilte{
    text-align: left;
    margin-bottom: 32px;
}

.email-text{
    font-size: 2.7rem;
    line-height: 3.125rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.email-text:hover{
    color: #525252;
}

.contact-socials-tilte{
    text-align: left;
    margin-bottom: 25px;
}

.contact-socials-icons-wrpper{
    display: flex;
    justify-content: space-between;
}

.contact-socials-circle{
    width: 58px;
    height: 58px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    background-color: #4d56de;
}

.contact-socials-circle::before{
    content: "";
    width: 58px;
    height: 58px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: white;
    opacity: 0.1;
}


.contact-socials-circle img{
    z-index: 2;
    transition: all 200ms ease-in-out;
}

.contact-socials-circle:hover img {
    transform: scale(1.2);
}

@media(max-width: 1670px){
    section{
      padding: 0 10px;
    }
}
  

@media(max-width: 1000px){
    section{
      padding: 0 50px;
    }

    .email-text{
      font-size: 30px;
    }
  }
  
  @media (max-width:760px){
    section{
      padding: 0 10px;
      margin: auto;
      max-width: 400px;
    }

    
    .contact-email-tilte{
      margin-bottom: 25px;
    }

    .contact-socials-tilte{
      margin-top: 25px;
    }

    .contact-body-wrpper{
      display: block;
    }
    
    .contact-socials-icons-wrpper{
      max-width: 150px;
      margin-right: auto;
    }
  }