.skills-section{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 35px 
}

.skills-title{
    text-align: center;
    margin: auto;
    max-width: 400px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 75px ;
}

.skills-cards-container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1150px;
    margin: auto;
    gap: 30px 
}

.skill-card-img{
    height: 56.1px;
    transition: all 300ms ease-in-out;
}

.skill-card-img:hover{
    translate:0 -10px ;
}

.skill-card-name{
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}